<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">

  <title>ICSLABS | IT Consultant</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/album.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<body>

  <div class="navbar navbar-inverse">
    <div class="container d-flex justify-content-between" style="background-color:#4FA0C9;">
      <a href="#" class="animated fadeInLeft navbar-brand">ICSLABS</a>
      <ul class="navbar-nav animated fadeInRight">
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>

  <section class="jumbotron text-center mb-5">
    <div class="container">
      <h1 class="animated flipInX">INFORMATION SYSTEM</h1>
      <p class="lead text-white">School of Management Computer and Informatics Catur Sakti</p>
      <div class="row align-center">
        <div class="col-12">
          {{#each users}}
          <img class="img-fluid animated fadeInDown rounded-circle p-3" src="{{img}}" width="{{dimensi}}" height="{{dimensi}}"
            alt="Card">

          {{/each}}
        </div>
      </div>
      {{#each users}}
      <h6 class="float-left" style="color:#000;margin-top:{{margin}};margin-left:115px;">{{name}}</h6>
      <font style="float: left;margin-left:-40px;" color="black">{{posision}}</font>
      {{/each}}
      <hr class="mt-4" style="border-bottom:1px solid #888;">
    </div>
  </section>

  <div class="album text-muted mt-5">
    <div class="container mt-5">

      <div class="row">
        {{#each items}}
        <div class="col-2 mb-5">
          <center><img class="img-fluid animated fadeIn rounded-circle" width="{{dimensi}}" height="{{dimensi}}" src="{{image}}"
              alt="Card image cap">
            <h6 class="mt-1">{{Description}}</h6>
          </center>
          <div class="text-center">
            <a href="/detail/{{ id }}" class="btn-sm btn-primary">Detail Profil</a>
          </div>
        </div>
        {{/each}}
      </div>

    </div>
  </div>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>&copy; 2019 ICSLABS. All right reserved.</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="/js/vendor/holder.min.js"></script>
  <script>
    $(function () {
      Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
    });
  </script>
  <script src="/js/vendor/bootstrap.min.js"></script>
</body>

</html>